@media screen and (min-width: 740px) {
  .header_contact_info {
    font-size: 21px;
  }

  .header_contact_top {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 740px) {
  header {
    height: auto;
    padding: 10px;
  }
}
.header_top_menu_mobile {
  padding-top: 30px;
}

.offer {
  background-color: rgba(47, 60, 79, 0.6);
  margin-bottom: 15px;
  padding: 40px 25px;
}

@media screen and (max-width: 740px) {
  .offer-headline {
    font-size: 20px !important;
  }

  .offer-pill-img {
    margin-right: 10px;
  }

  .offer-pill-txt {
    font-size: 14px;
  }
}
.offer-headline {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: left;
}

.offer-pills-item {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.offer-pills-item:last-child {
  padding-bottom: 0;
}

.offer-pill-img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  display: flex;
}
.offer-pill-img img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

.offer-pill-txt {
  font-size: 18px;
}

@media screen and (min-width: 740px) {
  .FirstLevel__form-content {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 540px) {
  .howWorkLevel__bigm {
    font-size: 20px;
  }
}
.otherCompanyLevel .but {
  text-decoration: none !important;
  width: 200px;
  padding: 0 20px;
}
.otherCompanyLevel .levelName {
  font-size: 35px;
}

@media screen and (max-width: 540px) {
  .otherCompanyLevel .but {
    width: 100%;
  }
  .otherCompanyLevel .levelName {
    font-size: 20px;
  }
}
.star-col {
  align-self: stretch;
}

.footer-form {
  background-color: transparent;
  padding: 0;
}

footer {
  padding: 15px;
  height: auto;
}

.footer_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 740px) {
  .convince-item {
    padding-bottom: 20px;
  }
  .convince-item:last-child {
    padding-bottom: 0;
  }
}
.catalogTable__item .txt-content {
  padding-bottom: 20px;
}
.catalogTable__item .but {
  text-decoration: none !important;
  width: 200px;
  padding: 0 20px;
}

@media screen and (max-width: 740px) {
  .catalogTable__item .but {
    width: 100%;
  }
}
.inner-nav ul {
  display: flex;
  justify-content: space-between;
}
.inner-nav li {
  margin-left: 0 !important;
}

.contactBlock a {
  font-size: 18px !important;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}
.contactBlock .modal-pop-up {
  margin-top: 2px;
  border-radius: 13px !important;
}

.white-popup {
  background: #FFF;
  width: auto;
  margin: 20px auto;
  display: block !important;
}

.modal-win * {
  box-sizing: border-box;
}

.modal-win {
  width: 100%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  border: 5px solid #f0f0f0;
  padding: 1.25rem 4.5625rem 3.75rem 4.5rem !important;
}
.modal-win .h3 {
  font-weight: 600;
  color: #333845;
  line-height: 1.2;
  margin-bottom: 0;
}
.modal-win .h5 {
  color: #333845;
  font-weight: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
  font-size: 17px;
}
.modal-win .mfp-close {
  font-size: 40px;
  font-weight: 100;
}
.modal-win .h3 {
  font-weight: 600;
  font-size: 1.875rem;
  color: #333845;
  line-height: 1.2;
  margin-bottom: 0;
}
.modal-win .h5 {
  color: #333845;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 1.5625rem;
}
.modal-win .form-wrap__text {
  font-size: 1.125rem;
}
.modal-win .form-wrap__input-wrap {
  font-size: 1.125rem;
  margin-bottom: 2.1875rem;
}
.modal-win .form-wrap label {
  width: 100%;
  display: block;
}
.modal-win .form-wrap__title {
  margin-bottom: 0.9375rem;
  font-weight: 400;
  padding-bottom: 1.0625rem;
  color: #5d5d5d;
}
.modal-win .form-control {
  resize: none;
  margin-top: 0.625rem;
  display: block;
  width: 100%;
  height: calc(1.5em + 3rem + 2px);
  padding: 1.5rem 1.875rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #f4f4f4;
  background-clip: padding-box;
  border: 1px solid #dfdfdf;
  border-radius: 0.3125rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.modal-win .form-wrap__input {
  resize: none;
  margin-top: 0.625rem;
}
.modal-win .tabs {
  position: relative;
}
.modal-win .tabs__caption {
  flex-wrap: nowrap;
  padding-bottom: 1.875rem;
  display: flex;
  justify-content: center;
}
.modal-win .tabs__btn {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #b2b2b2;
  line-height: 1.25rem;
  border: 1px solid #fff;
  background-color: #f4f4f4;
  transition: all 0.5s;
  padding: 0.875rem;
  margin-bottom: 0.875rem;
}
.modal-win .form-wrap .tabs__btn:first-child {
  border-radius: 6px 0 0 6px;
}
.modal-win .tabs__btn:last-child {
  border-radius: 0 0.3125rem 0.3125rem 0;
}
.modal-win .tabs__btn.active {
  background-color: #1a90cb;
  color: #fff;
}
.modal-win .tabs__content {
  display: none;
}
.modal-win .tabs__content.active {
  display: block;
}
.modal-win .form-wrap__polite {
  margin-left: auto;
  margin-right: auto;
  color: #b2b2b2;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.67;
  opacity: 0.76;
  max-width: 19.375rem;
  position: relative;
  margin-top: 1.375rem;
  text-align: center;
}
.modal-win .form-wrap__polite a {
  color: #21a5e8;
}
.modal-win .toggle-wrap-input-js {
  display: none;
}

#modal-thanks {
  max-width: 300px;
}

.btn-primary {
  border-radius: 0.3125rem;
  background-color: #eed27e;
  border: 1px solid #eed27e;
  display: flex;
  width: 100%;
  height: 4.375rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  color: #000;
  box-shadow: 0 4px 0 #baa554;
  padding: 0;
  transition: all 0.5s;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
          user-select: none;
  -webkit-appearance: button;
  overflow: visible;
}
.btn-primary:hover {
  color: #010101;
  text-decoration: none;
  background-color: #ffe391;
  border-color: #ffe391;
}

.priceWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.btn-prod {
  float: none !important;
  margin: 0 !important;
  height: 3rem;
  width: 200px;
  text-decoration: none !important;
  color: #000 !important;
}

.d-sm-none, .d-none, .d-lg-none, .d-md-none {
  display: none !important;
}

.custom-input-time {
  cursor: pointer;
  width: calc(100%);
  border-radius: 2px;
  margin-bottom: 30px;
  display: flex !important;
  font-weight: 500;
  align-items: center;
  text-align: center;
  z-index: 2;
  position: relative;
  overflow: hidden;
  color: #000000;
  font-size: 15px;
}
.custom-input-time__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.custom-input-time__text {
  width: 50%;
  display: block;
  padding: 5px;
  transition: all 0.5s;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  background-color: #f4f4f4;
  position: relative;
  z-index: 2;
  height: 52px;
}
.custom-input-time__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1a90cb;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
}
.custom-input-time__text--now {
  color: #fff;
}
.custom-input-time__text--now::before {
  opacity: 1;
}
.custom-input-time__text:hover {
  color: #ffffff;
}
.custom-input-time__text:hover::before {
  opacity: 1;
}
.custom-input-time__input:checked ~ .custom-input-time__text--now:not(:hover) {
  color: #000;
}
.custom-input-time__input:checked ~ .custom-input-time__text--now:not(:hover)::before {
  opacity: 0;
}
.custom-input-time__input:checked ~ .custom-input-time__text--time {
  color: #fff;
}
.custom-input-time__input:checked ~ .custom-input-time__text--time::before {
  opacity: 1;
}

.text-center {
  text-align: center !important;
}